    #rededata {
        max-width: 650px;
        font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
        font-weight: 600;
        margin: 20px 0 20px;
    }

    #rededata .top {
        background-color: #ae1b1b;
        max-height: 50px;
    }

    #rededata .logo {
        max-width: 200px;
        min-width: 200px;
        margin: 10px;
    }

    #rededata .img {
        width: 100%;
        height: auto;
    }

    #rededata .form-group {
        display: inline-block;
        margin-right: 10px;
    }
    
    #rededata .map {
        display: block;
        margin-top: 10px;
        border-radius: 5px;
    }
    
    #rededata .map #redebotonmap{
        height: 300px;
    }

    #rededata .options {
        margin-top: 15px;
    }

    #rededata .options .form-group .form-control {
        display: block;
        margin-top: 5px;
    }

    #rededata .options .select {
        position: relative;
        margin-top: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    #rededata .select-css {
        display: block;
        font-size: 14px;
        font-family: sans-serif;
        font-weight: 700;
        color: #444;
        line-height: 1.3;
        padding: .6em 1.4em .5em .8em;
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
        margin: 0;
        border: 1px solid #aaa;
        box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04);
        border-radius: .2em;
        -moz-appearance: none;
        appearance: none;
        background-color: #fff;
    }

    #rededata .btn {
        padding: 7px 25px;
        background-color: #ae1b1b;
        border: 1px solid #000000;
        border-radius: 5px;
        color: #fff;
        cursor: pointer;
        text-decoration: none;
    }
    
    #rededata .btn-enabled {
        background-color: #ae1b1b;
        border: 1px solid #000000;
        pointer-events: auto;
    }
    
    #rededata .btn-disabled {
        background-color: #bbbbbb;
        color: #fff;
        pointer-events: none;
    }

    .right {
        position: absolute;
        top: 0;
        right: 0;
    }
    .left {
        position: absolute;
        top: 0;
        left: 0;
    }

    .height-transition {
        -webkit-transition: max-height 0.5s ease-in-out;
        -moz-transition: max-height 0.5s ease-in-out;
        -o-transition: max-height 0.5s ease-in-out;
        transition: max-height 0.5s ease-in-out;
        overflow-y: hidden;
        min-height: 200px;
        padding: 10px;
    }

    .height-transition-hidden {
        max-height: 0;
    }